<% include partials/header.ejs %>
<form class="" action="/results" method="get">
  Search for a NAICS code: <input type="text" name="query" value="">
  <input type="submit" name="" value="Submit!">
</form>
<% include partials/footer.ejs %>
